  <div class="title">My Account</div>
  <div class="form-container">

    <div class="user-info">
      <div>
        <img class="user-pic" src="../image/<%=currentUser.image%>" />
      </div>

      <div class="user-info-list">
        <a class="btn btn-dark" href="/auth/update?id=<%= currentUser._id %>" role="button">Update User Details</a>
        <br />
        <br />
        <a class="btn btn-secondary" href="/auth/updatepassword?id=<%= currentUser._id %>" role="button">Update Password</a>
        <br />
        <br />
        <a class="btn btn-danger" href="/auth/delete?id=<%=currentUser._id%>" role="button">Delete Account</a>
      </div>
    </div>

  </div>
  <br />
  <div class="sub-title">My Bookmarked Events</div>

  <div class="grid-container">
    <% event.forEach(function(event) { %>
    <div class="card">
      <div class="card-title"><%=event.name %></div>
      <a href="/event/detail?id=<%=event._id%>">
        <img class="card-img-top" src="../image/<%=event.eventPhoto%>" />
      </a>

      <div class="card-text">
        <b><%=event.city %> -<span><%= new Date(event.date).toLocaleDateString('en-us', {
          year:"numeric", month:"short", day:"numeric"})%></span></b>
      </div>

      <div>
        <% for (i = 0; i < event.artist.length; i++){ %>
        <h5><%=event.artist[i].bandName %></h5>
        <% } %>
      </div>

      <form method="POST" action="/auth/bookmarks-delete" class="bookmark">
        <input type="hidden" name="id" value="<%= event._id %>" />
        <input type="submit" value="✖" class="bookmark" />
      </form>
    </div>
    <% }) %>
  </div>
  </div>