<aside class="filters">
  <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filters
        </button>
        <div class="dropdown-menu filter-menu" aria-labelledby="dropdownMenuButton">
        <form class="form" method="POST" action="/">

          <h6>Locations</h6>
          <% locationFilter.forEach(function(locationFilter) { %> 
          <label><%=locationFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=locationFilter%>">
          <% }) %>

          <hr>

          <h6>Months</h6>          
          <% monthFilter.forEach(function(monthFilter) { %> 
          <label><%=monthFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=monthFilter%>">
          <% }) %>

          <hr>
          
          <h6>Artists</h6>
          <% artistFilter.forEach(function(artistFilter) { %> 
          <label><%=artistFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=artistFilter%>">
          <% }) %>

          <hr>

          <h6>Genres</h6>          
          <% genreFilter.forEach(function(genreFilter) { %> 
          <label><%=genreFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=genreFilter%>">
          <% }) %>

          <hr>

          <button type="submit" class="btn btn-primary select">select</button>
        </form>
      </div>
  </div>
  <div class="register">Insert something about registering as a user</div>

    </aside> 
        

        
        
        
        
        
        
        <div class="event-body">
          <!-- -------------------------------------------------------------------- -->
       
            <div class="event-grid">
              <!-- NEARLY THERE -->
              <% event.forEach(function(event) { %>

                <% let artistArr = [] %>
                <% let genreArr = [] %>
                <% let genreMatch = "" %>

                <% for (i = 0; i < event.artist.length; i++){ %>
                 <% artistArr.push(event.artist[i].bandName) %>
                <%} %>


                <% for (i = 0; i < event.artist.length; i++){ %>
                 <% genreArr = event.artist[i].genres %>
                <%} %>
                <% genreObj = Array.from(genreArr); %>

                <% if(categories.indexOf(event.city) != -1 && categories.indexOf(event.month) != -1 && categories.some(category => artistArr.includes(category)) == true && categories.some(category => genreObj.includes(category))) { %>

                <!-- INCLUDE IF STATEMENT HERE -->
              <div class="event">
                <div><h4><%=event.name %></h4></div>
                
                <img class="event-image" src="../image/<%=event.eventPhoto%>">
                
                <div><b><%=event.city %> - <span><%= new Date(event.date).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})%></span></b></div>
                
                <div class="artists-info">
                  <div class="artists">
                    <% for (i = 0; i < event.artist.length; i++){ %>
                    <h5 class="artist"><%=event.artist[i].bandName %></h5>
                    <% } %>
                  </div>
                  
                  <div class="genres">
                    <% for (i = 0; i < event.artist.length; i++){ %>
                    <h6><%=event.artist[i].genres %></h6>
                    <% } %> 
                  </div>
                </div>

              </div>
              <% } %>
              <% }) %>

            <!-- -------------------------------------------------------------------- -->
          </div> 
        </div>


