<aside class="filters">
  <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filters
        </button>
        <div class="dropdown-menu filter-menu" aria-labelledby="dropdownMenuButton">
        <form class="form" method="POST" action="/">

          <h6>Locations</h6>
          <% locationFilter.forEach(function(locationFilter) { %> 
          <label><%=locationFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=locationFilter%>">
          <% }) %>

          <hr>

          <h6>Artists</h6>          
          <% artistFilter.forEach(function(artistFilter) { %> 
          <label><%=artistFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=artistFilter%>">
          <% }) %>

          <hr>

          <h6>Months</h6>          
          <% monthFilter.forEach(function(monthFilter) { %> 
          <label><%=monthFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=monthFilter%>">
          <% }) %>

          <hr>

          <h6>Genres</h6>          
          <% genreFilter.forEach(function(genreFilter) { %> 
          <label><%=genreFilter%></label>
          <input type="checkbox" name="loc" class="loc" checked value="<%=genreFilter%>">
          <% }) %>
          <br>
          <button type="submit" class="btn btn-primary select">select</button>
        </form>
      </div>
  </div>
  <div class="register">Insert something about registering as a user</div>

    </aside> 
        
        <div class="event-body">
          <!-- -------------------------------------------------------------------- -->
       
            <div class="event-grid">
                <% event.forEach(function(event) { %>
              <div class="event">
                <div><h4><%=event.name %></h4></div>
                <div class="event-image"></div>
                <div><h5><%=event.artist %></h5></div>
                <div><b><%=event.city %> - <span><%= new Date(event.date).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})%></span></b></div>
                <div><%=event.genreTags %></div>
              </div>
            <% }) %>

            <!-- -------------------------------------------------------------------- -->
          </div> 
        </div>
      
      
