
    <h2 id="hi">This is our home page woop woop</h2>
    <div class="event-body">
 
        <div class="event-body-nav">
       
            <div class="search">
                <form class="search-bar">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
       
            <div class="categories">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Location
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <div class="dropdown-item city">All</div>
                      <% event.forEach(function(event) { %> 
                      <div class="dropdown-item city"><%=event.city%></div>
                      <% }) %>
                    </div>
                </div>
           
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Artist
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <% event.forEach(function(event) { %> 
                      <a class="dropdown-item" href="#"><%=event.artist%></a>
                      <% }) %>
                    </div>
                </div>
           
           
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Month
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
          </div>  
       
            <div class="event-grid">
                <% event.forEach(function(event) { %>
                    <% if (location === "All") { %>
              <div class="event">
                <div><%=event.name %></div>
                <div><%=event.artist %></div>
                <div><%=event.city %></div>
                <div><%=event.date %></div>
                <div><%=event.genreTags %></div>
              </div>
           <% } else if (event.city === location) { %>
            <div class="event">
                <div><%=event.name %></div>
                <div><%=event.artist %></div>
                <div><%=event.city %></div>
                <div><%=event.date %></div>
                <div><%=event.genreTags %></div>
              </div>
            <% } %>
            <% }) %>
         
            </div>

          </div>
      