
            <div class="search">
              <h5>search for an event... </h5>
                <input type="text" id="search" name="search" />
                <button type="submit">Search</button>
            </div>
     
     
     
     <aside class="filters">
      <h5 class="filter-title">Filters</h5>
       
      <div class="filter">
        <form method="POST" action="/">

          <h6>Locations</h6>
             <% locationFilter.forEach(function(locationFilter) { %> 
              <label><%=locationFilter%></label>
              <input type="checkbox" name="loc" class="loc" checked value="<%=locationFilter%>">
              <% }) %>
          
              <hr>

          <h6>Artists</h6>          
            <% artistFilter.forEach(function(artistFilter) { %> 
                  <label><%=artistFilter%></label>
                  <input type="checkbox" name="loc" class="loc" checked value="<%=artistFilter%>">
              <% }) %>
          <button type="submit" class="btn btn-primary select">select</button>
          </form>
        </div>

        <hr>

        <h6>Dates</h6>       
        <% let arr = [] %>   
          <% dateTime.forEach(function(dateTime) { %> 
            <% let date = new Date(dateTime).toLocaleDateString('en-us', {month:"short", year:"numeric"}).toString() %>
            <% arr.push(date); %>
             <% }) %>
             <% let newArr = [...new Set(arr)] %>
             <% newArr.forEach(function(date) { %>    
                <label><%=date%></label>
                <input type="checkbox" name="loc" class="loc" checked value="<%=date%>">
            <% }) %>
        <button type="submit" class="btn btn-primary select">select</button>
        </form>
      </div>


    </aside> 
        
        <div class="event-body">
          <!-- -------------------------------------------------------------------- -->
       
            <div class="event-grid">
                <% event.forEach(function(event) { %>
              <div class="event">
                <div><h4><%=event.name %></h4></div>
                <div class="event-image"></div>
                <div><%=event.artist %></div>
                <div><%=event.city %></div>
                <div><%= new Date(event.date).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})%></div>
                <div><%=event.genreTags %></div>
              </div>
            <% }) %>

            <!-- -------------------------------------------------------------------- -->
          </div> 
        </div>
      
