
<section class="artistPage">
<div>
<img  id="imgartistPage" src="../image/<%=artist.user[0].image%>">
</div>
</div>

<h1 id="bandName"><%=artist.bandName%></h1>

<% for(let i=0 ;i< artist.genres.length; i++){ %>

    <span id="artistgenres"> #<%=artist.genres[i] %></span>

 <% } %>

 <p id="bio"><%=artist.bio%></p>

<h2 class="associatedevent">Upcoming Artist Events</h2>

<div class="grid-container" >

    <%artist.event.forEach(function(event) { %>
<div id="grid-section">
   <img src="../image/<%=event.eventPhoto%>">
    <h3><%=event.name%></h3>
    <p><%=event.venue%></p>
    <p><%=event.city%></p>
    <p><%=event.date%></p>
    <p><a href="/event/detail?id=<%=event._id%>">View Event</a></p>
</div>
<% }) %>
</div>


</section>

