<div class="title"><%=artist.bandName%></div>
<div class="artist-detail-page">
  <div class="artist-detail">
    <div class="artist-detail-about">
      <div>
        <img class="event-detail-image" src="../image/<%=artist.user[0].image%>" />
      </div>
      <p>
        <%=artist.bio%>
      </p>
      <% for(let i=0 ;i< artist.genres.length; i++){ %>
      <span> #<%=artist.genres[i] %></span>
      <% } %>
    </div>

    <div>
      <div class="sub-title artist-detail-sub-title">Upcoming Events</div>
      <div class="grid-container">
        <%artist.event.forEach(function(event) { %>
        <div class="card">
          <div class="card-title">
            <%=event.name%>
          </div>
          <a href="/event/detail?id=<%=event._id%>">
            <img class="card-img-top" src="../image/<%=event.eventPhoto%>" />
          </a>
          <div class="card-text">
            <b><%=event.city %> -
              <span><%= new Date(event.date).toLocaleDateString('en-us', {
                year:"numeric", month:"short", day:"numeric"})%></span></b>
          </div>
          <br />
          <form method="POST" action="/auth/bookmarks" class="bookmark">
            <input type="hidden" name="id" value="<%= event._id %>" />
            <input type="submit" value="♡" class="bookmark" />
          </form>
        </div>
        <% }) %>
      </div>
    </div>

  </div>
</div>