<section>

 <h3> Update Account </h3>
<div>
 <img  id="imgartistPage" src="../image/<%=artist.user[0].image%>">
</div>

<form  id="updateAccount" method="POST" action="/artist/update"  enctype="multipart/form-data" >

<label>Artist/Band Name</label>
<input type="text" name="bandName" value="<%=artist.bandName%>"/>

</div>
    <label>Bio</label>
    <textarea  name="bio" value="<%=artist.bio%>"><%=artist.bio%>"</textarea>
</div>

<fieldset>
    <legend>Genres</legend>
    <div>
        <input type="checkbox"  name="genres[]" value="<%=artist.genres%>">
        <label for="alternative">Alternative</label>
      
   
      <input type="checkbox"  name="genres[]" value="<%=artist.genres%>">
      <label for="dnb">Drum & Bass</label>
    
   
        <input type="checkbox"  name="genres[]" value="<%=artist.genres%>">
        <label for="rock">Rock</label>
      </div>
       <div>
        <input type="checkbox" name="genres[]" value="<%=artist.genres%>">
        <label for="reggae">Reggae</label>
     
    
        <input type="checkbox"  nname="genres[]" value="<%=artist.genres%>">
        <label for="hip-hop">Hip-Hop</label>
      
     
        <input type="checkbox"  name="genres[]" value="<%=artist.genres%>">
        <label for="r&b">R & B</label>
    </div>
  </fieldset>
  
  <input type="hidden" name="id" value="<%= artist._id %>"/>
  <button type= "submit"> Update Profile </button>


</form> 
    

</section>