<!-- created basic grid on views index page to render the Artist date -->

<div class="title">Artists</div>
<br />


  <div class="grid-container">
    <% artist.forEach(function(artist) { %> <% for(let i=0 ;i<
    artist.user.length; i++){ %> <% if(artist.user.length === 0 ){ %> <% } %>
    <div class="card">
      <% if(artist.user.length > 0 ){ %>
      <div class="card-title"><%=artist.bandName%></div>
      <a href="/artist/detail?id=<%=artist._id%>">
        <img class="card-img-top" src="../image/<%=artist.user[i].image%>" />
      </a>
      <div class="card-text">
        <% for(let i=0 ;i< artist.genres.length; i++){ %>
        <span>#<%=artist.genres[i]%></span>
        <% } %>
      </div>
      <% if(currentUser) { %> <% } %> <% } %> <% if ( artist.user.length > 0 &&
      currentUser._id.toString() === artist.user[0]._id.toString()) { %>
      <a class="btn btn-danger" href="/artist/delete?id=<%=artist._id %>" role="button">
        Hide My Profile From Site</a>

      <% } %>
    </div>
    <% } %> <% }) %>
  </div>
</div>