<div class="title">My Account</div>

<!-- in the instance where all artist have been removed so last artist need account if displayed -->
<% if(artist.length === 0 ) { %>
<div class="form-container-profile">
  <div class="user-info">
    <div>
      <img class="user-pic" src="../image/<%=currentUser.image%>" />
    </div>
    <div class="user-info-list">
      <a class="btn btn-dark" href="/auth/update?id=<%= currentUser._id %>" role="button">Update Account</a>
      <br />
      <br />
      <a class="btn btn-secondary" href="/auth/updatepassword?id=<%= currentUser._id %>" role="button">Change Password</a>
      <br />
      <br />
      <a class="btn btn-danger" href="/auth/delete?id=<%=currentUser._id %>" role="button">
        Delete Account</a>
    </div>
  </div>
</div>
<% } %>
<!-- where there is objects stored in the artist schema  -->
<div class="form-container-profile">
  <div class="user-info">
    <% artist.forEach(function(artist , index ) { %> <% if
  (currentUser._id.toString() !== artist.user[0]._id.toString()) { %>
    <!-- this is for the last artist in the array to render corr -->
    <% if (artist.user.length && index === 0 ) { %>
    <div>
      <img class="user-pic" src="../image/<%=currentUser.image%>" />
    </div>
    <div class="user-info-list">
      <a class="btn btn-dark" href="/auth/update?id=<%= currentUser._id %>" role="button">Update Account Info</a>
      <br />
      <br />
      <a class="btn btn-secondary" href="/auth/updatepassword?id=<%= currentUser._id %>" role="button">Change Password</a>
      <br />
      <br />
      <a class="btn btn-danger" href="/artist/index" role="button">Remove Artist Profile</a>
      <br />
      <br />
      <a class="btn btn-danger" href="/auth/delete?id=<%=currentUser._id %>" role="button">
        Delete Account</a>

    </div>
    <% } %>
    <% } %>

    <% if ( currentUser._id.toString() === artist.user[0]._id.toString()) { %>
    <div class="user-info-list-artist">
      <h2 id="bandName"><%=artist.bandName%></h2>
      <br />
      <p><%=artist.bio%></p>
      <br />
      <% for(let i=0 ;i< artist.genres.length; i++){ %>
      <span id="artistgenres">#<%=artist.genres[i]%></span>
      <% } %>
    </div>
    <br />
  </div>
</div>

<div class="sub-title">My Events</div>
<a class="btn btn-info" id="accountbtn" href="/event/add">★ Add A New Event ★</a>
<div class="grid-container">
  <% for(let i=0 ;i< artist.event.length; i++){ %>
  <div class="card">
    <a href="/event/detail?id=<%=artist.event[i]._id%>">
      <img class="card-img-top" src="../image/<%=artist.event[i].eventPhoto%>" />
    </a>
    <h5><%=artist.event[i].name%></h5>
    <p><%=artist.event[i].venue%></p>
    <p>
      <a class="btn btn-dark" href="/event/detail?id=<%=artist.event[i]._id%>">View Event</a>
      <a class="btn btn-secondary" href="/event/edit?id=<%=artist.event[i]._id%>">
        Edit Event</a>
      <a class="btn btn-danger" href="/event/delete?id=<%=artist.event[i]._id%>">
        Delete Event</a>
    </p>
  </div>
  <% } %>
</div>
<% } %>
<% }) %>
<br />
<br />
<br />
<br />