<section >

   <% artist.forEach(function(artist) { %> 
      <% console.log(artist.user[0].firstName) %>
      <% console.log(currentUser._id) %>
      <% console.log(artist.user[0]._id) %>
   <% if (currentUser._id.toString() === artist.user[0]._id.toString()) { %> 
     
   <div class="artistPage" >
      <aside id="artistaccount">
      
        <a class="btn btn-primary artist" id="accountbtn" href="/auth/update?id=<%= currentUser._id %>" role="button">Update Account</a><br><br>
        <a class="btn btn-primary artist"  id="accountbtn" href="/auth/updatePassword?id=<%= currentUser._id %>" role="button">Change Password</a><br><br>
        <a class="btn btn-primary artist" id="accountbtn" href="/auth/delete?id=<%= currentUser._id %>" role="button"> Delete Profile</a><br><br>
        <a class="btn btn-primary artist" id="accountbtn" href="/event/add"> Add Event</a>
      
        
      
      
      </aside>
   <div>
      <img id=imgartist  src="../image/<%=artist.user[0].image%>">
   </div>
      
   <!--       
          <p>Last Name:<%=currentUser.lastName %></p>
          <p>Email Address :<%=currentUser.emailAddress %></p>
          <p>Profile Type:<%=currentUser.profileType %></p> --> 
          
     
       
    
      <h1 id="bandName"><%=artist.bandName%></h1>
    
      <% for(let i=0 ;i< artist.genres.length; i++){ %>
          
      <span id="artistgenres">#<%=artist.genres[i]%></span>
          
          <% } %>
          <p id="bio"><%=artist.bio%></p>
      </div>

    
   <h2 class="associatedevent">Associated Events</h2>
      <% for(let i=0 ;i< artist.event.length; i++){ %>
         
       <div class="grid-container">
       <div class="grid-section" style="background-color:rgb(242, 242, 228); margin-top: 10px;">
      <img   src="../image/<%=artist.event[i].eventPhoto%>">
      <h5><%=artist.event[i].name%></h5>
      <p><%=artist.event[i].venue%><p>
      <a  class="btn btn-primary artist" style="background-color:rgb(198, 198, 198); border: none; margin-bottom: 10px;" href="/event/edit?id=<%=artist.event[i]._id%>"> Edit Event</a>
     <a class="btn btn-primary artist"  style="background-color:rgb(198, 198, 198); border: none ; margin-bottom: 10px;" href="/event/delete?id=<%=artist.event[i]._id%>"> Delete Event</a>
      <a class="btn btn-primary artist" style="background-color:rgb(198, 198, 198);  border: none; margin-bottom: 10px;" href="/event/detail?id=<%=artist.event[i]._id%>">View Event</a>
      </div>
      <% } %>
   </div>
          <% } %>
          <% }) %> 
      
  
         </section>
   
   