<div class="title"><%=event.name%></div>
<div class="page">
  <%event.artist.forEach(function(artist) { %>
  <div>
    <h2><%=artist.bandName%></h2>
  </div>
  <% }) %>
  <div>
    <img class="event-detail-image" src="../image/<%=event.eventPhoto%>"><br>
  </div>
  <div>
    <p class="bio"><%=event.description%></p>
    <br />
    <div>
      <p><b>Where</b>: <%=event.venue%>, <%=event.addressLine1%>, <%=event.city%>, <%=event.postcode%></p>
      <p><b>Date & Time</b>: <%= new Date(event.date).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})%></p>
    </div>
    <%event.artist.forEach(function(artist) { %>
    <div>
      <% for(let i=0 ;i< artist.genres.length; i++){ %>
      <span>#<%=artist.genres[i]%></span>
      <% } %>
    </div>
    <% }) %>
  </div>
</div>