<section>

    
    <img  id="imgartistPage" src="../image/<%=event.eventPhoto%>">

   
   

   
   <div><%=artist.bio%></div>
   <div>#<%=artist.genres%></div>
   
   <div class="grid-container">
   
       <% artist.event.forEach(function(event) { %>
   <div class="grid-section">
      <img src="../image/<%=event.eventPhoto%>">
       <h3><%=event.name%></h3>
       <p><%=event.venue%></p>
       <p><%=event.city%></p>
       <p><%=event.date%></p>
       <a>Edit Event</a>
       <a>Delete Event </a>
      
   </div>
   <% }) %>
   </div>
   </section>